#baymax {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

#eyes {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 800px;
   height: 600px;
   margin-top: -420px;
   margin-left: -400px; /* Half the width */
   border: none;
   background-image: url("https://runpengliu.com/baymax/docs/images/baymax_eyes_white_lowres.gif");
}
