.header-m {
  text-align: center;
  height: 13.5vh;
  font-size: 10vh;
  color: #ffffff;
  opacity: 0.9;
  padding: 2vh;
  font-weight: bold;
}

.header-m:active{
  opacity: 0.7;
}

.title-m {
  font-size: 8vh !important;
}

.version-m {
  font-size: 6vh !important;
}

.date-m {
  font-size: 6vh;
  text-align: center;
  font-weight: bold;
}

.date-m .subdate{
  font-weight: 300;
  font-size: 4vh;
  margin-top: 10px;
  color: #cccccc;
}

.menu-m {
    font-size: 4vh;
    line-height: 120%;
    font-weight: 400;
    text-transform: lowercase;
}

.pred-m {
  font-size: 4vh !important;
}
