<DOCTYPE html>
    <html>

    <head>
        <title>InfoLounge</title>
        <!-- STYLESHEETS -->
        <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.5, width=320, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link rel='stylesheet' href='/plugins/foundation/css/foundation.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style_mobile.css' />
        <link rel='stylesheet' href='/stylesheets/ai.css' />
        <link rel='stylesheet' href='/stylesheets/lib/ionicons.min.css' />
        <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

        <!-- FONTS -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- JAVASCRIPT -->
        <script src="/javascripts/lib/jquery.min.js"></script>
        <script src="/javascripts/jquery.tweets.js" charset="utf-8"></script>
        <script src="/javascripts/jquery.simpleWeather.js" charset="utf-8"></script>
        <script src="/javascripts/jquery.jtweetsanywhere-1.3.1.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyCqRijZ1iCRLqyFziZ0Fh00X3GrRtjydQE",
            authDomain: "rliu42.firebaseapp.com",
            databaseURL: "https://rliu42.firebaseio.com",
            storageBucket: "project-7838915160715416262.appspot.com",
          };
          firebase.initializeApp(config);
        </script>
        <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
        <script src="/javascripts/dateformat.js"></script>
        <script src="/javascripts/date.js"></script>
        <script src="/javascripts/weather.js"></script>
        <script src="/javascripts/transport.js"></script>
        <script src="/javascripts/menu.js"></script>
        <script src="/javascripts/news.js"></script>
        <script src="/javascripts/fancy.js"></script>
        <script src="/javascripts/alerts.js"></script>
        <script src="/javascripts/institute_alerts.js"></script>
        <script src="/javascripts/minecraft.js"></script>
        <script src="/javascripts/finals.js"></script>
        <script src="/javascripts/utils.js"></script>
        <script src="/javascripts/interface.js"></script>
        <script src="/javascripts/commands.js"></script>
        <script src="/javascripts/speech.js"></script>
        <script src="/javascripts/recognition.js"></script>

        <script type='text/javascript'>
            lastUpdated = -1;
            var isItLateYet = function() {
                var now = new Date();
                if (now.getHours() >= 2 && now.getHours() <= 7) {
                    $('.shutthefuckup').show();
                   /*if (now.getHours() == 2 && now.getMinutes() == 0 && now.getSeconds() <= 3) {
                        speak("It is now 2 A.M. No loud noises please.", "", "", "");
                    }*/
                } else {
                    $('.shutthefuckup').hide();
                }
                setTimeout(isItLateYet, 5000);
            }
            $('.shutthefuckup').hide();

            $(document).ready(function() {
                isItLateYet();
                $('#tweet_feed').jTweetsAnywhere({
                    searchParams: ['q=bash3w'],
                    count: 10,
                    showTweetFeed: {
                        autoConformToTwitterStyleguide: false,
                        showActionFavorite: false,
                        showTimestamp: {
                            refreshInterval: 60
                        },
                        autorefresh: {
                            mode: 'auto-insert',
                            interval: 30,
                            duration: -1
                        },
                        paging: {
                            mode: 'none'
                        }
                    },
                    onDataRequestHandler: function(stats, options) {
                        if (stats.dataRequestCount < 4321) {
                            return true;
                        } else {
                            stopAutorefresh(options);
                        }
                    }
                });

                // Update the time
                window.setInterval(function() {
                    now = new Date();
                    document.getElementById('clock').innerHTML = dateFormat(now, 'H:MM');
                    getDate();
                    if (now.getMinutes() != lastUpdated) {
                        console.log("Global update...");
                        lastUpdated = now.getMinutes();
                        //getWeather();
                        getAlerts();
                        getMITAlert();
                        getMenu();
                        getNews();
                        getFinals();
			getWeather();
                    }
                }, 1000);

                $("#tweetpanel").delay(600).slideDown("slow");
            });
        </script>

    </head>

    <div id="baymax" style="display:none">
        <div id="baymax-eyes"></div>
        <div id="siri"></div>
        <div id="jarvis"></div>
        <div id="baymax-image"></div>
        <div id="wave"></div>
        <script src="javascripts/wave.js"></script>
        <script>
            var wave = new SiriWave({
                container: document.getElementById('wave'),
                width: $(window).width()*0.99,
                height: $(window).height()*0.15,
                speed: 0.025,
                color: '#888',
                frequency: 4
            });
        </script>
    </div>

    <body>

        <div class='shutthefuckup flash-header' style='display:none'>
            <div class='block'>
                <h1>No loud noises!</h1>
            </div>
        </div>

        <div class='birthday'>
            <div class='block birthday-text'>
            </div>
        </div>

        <!--
      <div class='warning flash-header'>
        <div class='block'>
          <h1>EMERGENCY; MBTA trains closed 19:00-Wed</h1>
        </div>
      </div>
        -->

        <canvas id="test" style="top:10; position:absolute"></canvas>

        <div id='content'>

            <div class="row">
                <div class="large-6 columns">
                    <div id='header'>
                        <h1 id="title">infolounge</h1>
                        <h2 id="version">beta v3.0</h2>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div id='clock'></div>
                </div>
            </div>

            <div class="row">
                <div class='birthday-m'>
                    <div class='block'>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">

                    <div class="row">
                        <div class="large-12 column" id='MITalertspanel'>
                            <h3 class='MITalerts-header'>mit emergency</h3>
                            <div class='EMRGpanel'>
                                <div id='MITalerts'>
                                    <!-- <script id="feed-1423496958723602" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Femergency.mit.net%2Femergency%2Frss&limit=1&showtitle=false&type=js&id=1423496958723602"></script> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--    <script type='text/javascript'>getMITAlerts()</script> -->


                </div>
            </div>


            <div class="row">
                <div id="left-pane" class="large-7 columns">

                    <div class="row">
                        <div class="large-12 column" id='alertspanel'>
                            <h3 class='alerts-header'>&nbsp;<span class= "ion-ios-bell icom-m"></span>&nbsp;MBTA</h3>
                            <div class='panel'>
                                <div id='alerts'></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="large-12 columns" id='weatherpanel'>
                            <h3 class='weather-header'>&nbsp;<span class = "ion-android-cloud icon-m"></span>&nbsp;Weather</h3>
                            <div class='panel'>
                                <div id='weather'>
                                    <table id="weather_table"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                    <div class="large-12 columns" id='tweetpanel'>
                        <h3 class='header-m twitter-header collapsed'>&nbsp;<span class="icon-m ion-social-twitter"></span>&nbsp;Twitter #bash3w</h3>
                        <div class='twitter panel'>
                            <div id='tweet_feed' style='width: 100%'; margin-left: auto; margin-right: auto;'>

                                <a class="twitter-timeline" style='width: 100%' href="https://twitter.com/search?q=%23bash3w" data-chrome="noheader nofooter transparent noscrollbar" data-widget-id="373316916703539200">Tweets about "#00magic"</a>
                                <script>
                                    ! function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0],
                                            p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + "://platform.twitter.com/widgets.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, "script", "twitter-wjs");
                                </script>
                            </div>
                        </div>
                    </div>
                    </div>

                  <div class="row">
                    <div class="large-12 columns" id="videopanel" style="display:none">
                      <h3 class='video-header '>&nbsp;<span class = "icon-m ion-videocamera"></span>&nbsp;Video</h3>
                      <div class='panel video ' style="display:none">
                            <div id="player"></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-12 columns" id="mappanel" style="display:none">
                      <h3 class='video-header '>&nbsp;<span class = "icon-m ion-map"></span>&nbsp;Directions</h3>
                      <div class='panel map' style="display:none">
                            <iframe scrolling="no" height="350" width="700" frameborder="0" style="border:0" id="googlemap"></iframe>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-12 columns" id="marauderpanel" style="display:none">
                      <h3 class='video-header '>&nbsp;<span class = "icon-m ion-ios-color-wand"></span>&nbsp;Marauder's Map</h3>
                      <div class='panel marauder' >
                            <iframe scrolling="no" height="350" width="700" frameborder="0" style="border:0" src="https://runpengliu.com/mit-marauder/" id="maraudermap"></iframe>
                      </div>
                    </div>
                  </div>

                </div>
                <div id = "right-pane" class="large-5 columns">

                    <div class="row">
                        <div class="right-panel large-12 column" id='datepanel'>
                            <h3 class="date-header">&nbsp;<span class="icon-m ion-android-calendar"></span>&nbsp;Today</h3>
                            <div class='panel ' style="display: block;">
                                <div class = "date" id="date">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="right-panel large-12 column" id='techpanel'>
                            <h3 class='techshuttle-header '>&nbsp;<span class="icon-m ion-android-bus"></span>&nbsp;Public Transport</h3>
                            <div class='panel'>
                          <!--    <img class = "tech-map" src="" height="150px" style="display:none" /> -->
                          <!--    <div id = "techmap" style="height:150px; display:none"></div> -->
                                <div id="nextbus"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="right-panel large-12 column" id='menupanel'>
                            <h3 class='menu-header '>&nbsp;<span class="icon-m ion-fork"></span>&nbsp;Dining</h3>
                            <div class='panel'>
                                <ul class = "menu" id="menu"></ul>
                            </div>
                        </div>
                    </div>


        <!--
          <div class="row">
            <div class="large-12 columns" id='imgpanel'>
              <h3 class='img-header '>Image</h3>
              <div id='twitimg ' class='panel'>
                <div id="img"></div>
              </div>
            </div>
          </div>
        -->

          <div class="row">
              <div class="large-12 columns" id="minecraftpanel">
                  <h3 class='minecraft-header '>&nbsp;<span class="ion-cube icon-m"></span>&nbsp;Current Crafters</h3>
                  <div class='panel minecraft '>
                  </div>
              </div>
          </div>

        <!--
          <div class="row">
            <div class="large-12 columns" id='webcampanel'>
              <h3 class='img-header '>Video</h3>
              <div class='panel'>
                  <video autoplay></video>
              </div>
            </div>
          </div>
        -->

          <div class="row">
            <div class="large-12 columns" style="display:none" id='finalspanel'>
              <h3 class='finals-header '>&nbsp;<span class = "icon-m ion-sad"></span>&nbsp;Safety Finals</h3>
              <div class='panel finals '>
                    <ul id = "finals"></ul>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="large-12 columns"  id='newspanel'>
              <h3 class='news-header '>&nbsp;<span class = "icon-m ion-ios-paperplane"></span>&nbsp;Lounge News</h3>
              <div class='panel news '>
                    <ul id = "news"></ul>
              </div>
            </div>
          </div>

            </div>
        </div>

        <div id="audio"></div>

        <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>

    </body>

    <script>speak(" ", "", "", "")</script>

    </html>
